extends layout

block content
    .home
    h1 Accueil
    br
    form(action='/upload')
        button(type='submit') Ajout d'activité

    br
    form(action='/activities')
        button(type='submit') Visualisation des activité

    br
    form(action='/modify_user')
        button(type='submit') Modification du compte

    br
    form(action='/disconnect')
        button(type='submit') Déconnexion